# Backend
fastapi
uvicorn
 
# Frontend
streamlit
requests
 
# NLP / Transformers
transformers
 
# ML utils
numpy
 
# Data processing
PyMuPDF
arxiv
 
# Vector search
faiss-cpu
 
# LLM / API
groq
python-dotenv
 
# LangChain
langchain
langchain-core
langchain-groq
pydantic
